body {
    font-family: Arial;
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px gray;
}

input, button {
    margin: 10px;
    padding: 8px;
    width: 90%;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}